.timeline {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding-top: 50px;
}

.inputProtest {
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  background: #232629;
  font-size: 20px;
  caret-color: white;
  box-sizing: border-box;
  margin-top: 20px;
  padding-left: 60px;
}

.protest {
  padding: 25px;
  margin-top: 50px;
  border: 2px dashed #474a4e;
  border-radius: 8px;
  color: white;
}
.avatar {
  border-radius: 100%;
  width: 50px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

.name {
  text-align: center;
}

.chatbox {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 0;
  margin-top: 44px;
  margin-left: 20px;
}
.col-2 {
  display: flex;
  flex-wrap: wrap;
}

.like {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.dislike {
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.icon {
  font-size: 20px;
}
.protestText {
  text-align: center;
  position: relative;
  max-width: 400px;
}
.user {
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .protest {
    text-align: center;
  }
  .col-2 {
    margin-left: 40%;
  }
  .user {
    margin-left: 40%;
  }
}
